<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">K Nearest Neighbors</h4>
            <canvas id="K-Nearest-Neighbors" style="height:250px"></canvas>
          </div>
        </div>
      </div>
      <div class="col-lg-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Gradient Tree Boosting </h4>
            <canvas id="Gradient-Tree-Boosting" style="height:250px"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>